.home-panel{
	vertical-align: center;
	font-size: 20;
	margin: 15;
}

.card {
	border-radius: 20;
	margin: 12;
    padding: 10;
	background-color: rgb(179, 127, 24);
    color: #362713;
    height: 56%;
}

.button-no-clicked
{
	background-color: rgb(168, 194, 206);
}

.button-clicked
{
	background-color: rgb(81, 156, 190);
}
