<ActionBar title="Student Main Page" class="action-bar">
</ActionBar>

<StackLayout>
    <Image class="logo" src="~/images/Logo_politecnica.png"></Image>

    <StackLayout>
        <Tabs >
            <TabStrip>
                <TabStripItem>
                    <Label text="Clase"></Label>
                    <Image src="res://home"></Image>
                </TabStripItem>
                <TabStripItem>
                    <Label text="Tests"></Label>
                    <Image class="logo" src="~/images/test.png"></Image>
                </TabStripItem>
                <TabStripItem>
                    <Label text="Ajustes"></Label>
                    <Image src="res://settings"></Image>
                </TabStripItem>
            </TabStrip>
            <TabContentItem>
                <GridLayout>
                    <StackLayout width="80%">
                        <StackLayout class="h2">
                            <Label text="" class="h3 text-center"></Label>
                            <Label text="Datos de la sesión"  fontWeight="bold" class="h1 text-center"></Label>

                            <Label text="" class="h3 text-center"></Label>

                            <Label>
                                <FormattedString>
                                    <Span text="Alumno: "  fontWeight="bold"></Span>
                                    <Span text="{{currentUser.firstName}} {{currentUser.lastName}}"></Span>
                                </FormattedString>
                            </Label>

                            <Label text="" class="h2 text-center"></Label>
                            <Label>
                                <FormattedString>
                                    <Span text="Profesor: "  fontWeight="bold"></Span>
                                    <Span text="{{currentTeacher.firstName}} {{currentTeacher.lastName}}"></Span>
                                </FormattedString>
                            </Label>
                            <Label>
                                <FormattedString>
                                    <Span text="Email: "  fontWeight="bold" class="h3"></Span>
                                    <Span text="{{currentTeacher.username}}" class="h3"></Span>
                                </FormattedString>
                            </Label>
                            <!--
                            <Label text="" class="h2 text-center"></Label>
                            <Label text="Email profesor: {{currentTeacher.username}}"></Label>
                            -->
                            <Label text="" class="h3 text-center"></Label>
                            <Label>
                                <FormattedString>
                                        <Span text="Aula: "  fontWeight="bold"></Span>
                                        <Span text="{{currentUser.class}}"></Span>
                                </FormattedString>
                            </Label>
                                

                            <Label text="" class="h2 text-center"></Label>
                            
                            <Label>
                                <FormattedString>
                                    <Span text="Asiento ocupado: "  fontWeight="bold"></Span>
                                    <Span text="{{currentUser.seat}}"></Span>
                                </FormattedString>
                            </Label>

                            <Label text="" class="h2 text-center"></Label>

                            <Label>
                                <FormattedString>
                                    <Span text="Asignatura: "  fontWeight="bold"></Span>
                                    <Span text="{{asignatura}}"></Span>
                                </FormattedString>
                            </Label>

                            <Label text="" class="h2 text-center"></Label>
                            <Label>
                                <FormattedString>
                                    <Span text="Grupo: "  fontWeight="bold"></Span>
                                    <Span text="{{grupo}}"></Span>
                                </FormattedString>
                            </Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </TabContentItem>
            <TabContentItem>
                <GridLayout>
                    <StackLayout>
                        <Label text="" class="h2 text-center"></Label>
                        <Label text="Tests Disponibles"  fontWeight="bold" class="h1 text-center"></Label>
                        <Label text="" class="h2 text-center"></Label>

                    <!--
                        <StackLayout>
                            <GridLayout *ngFor="let item of questions; let i = index"
                            rows="*,*,*,*" columns="*, auto" height="140" (tap)="navigateToQuiz(i)" >
                            <Button row="0" col="0" text="Test---Pregunta: {{item.question}}"
                            backgroundColor="#35A6E8"
                            color="whitesmoke"></Button>
                            <Button row="1" col="0" text="A: {{item.answer1}}"
                            backgroundColor="red"
                            color="whitesmoke" (tap)="navigateToQuiz(i)"></Button>
                            <Button row="2" col="0" text="B: {{item.answer2}}"
                            backgroundColor="red"
                            color="whitesmoke" (tap)="navigateToQuiz(i)"></Button>
                            <Button row="3" col="0" text="C: {{item.answer3}}"
                            backgroundColor="red"
                            color="whitesmoke" (tap)="navigateToQuiz(i)"></Button>
                        </GridLayout>
                        </StackLayout>
                    -->
                    <StackLayout *ngFor="let item of questions; let i = index">

                        <Button row="0" col="0" text="{{item.question}}"
                        backgroundColor="#35A6E8"
                        color="whitesmoke" (tap)="toogleSelection2(i)" width= "80%"></Button>

                    
                        <StackLayout *ngIf="item.open" width="60%">
                            <Button  text="a) {{item.answer1}}" [ngClass]="{'button-clicked': item.openA, 'button-no-clicked': !item.openA}"
                            color="whitesmoke" (tap)="switchColor3(i,0)"></Button>
                            <Button  text="b) {{item.answer2}}" [ngClass]="{'button-clicked': item.openB, 'button-no-clicked': !item.openB}"
                            color="whitesmoke" (tap)="switchColor3(i,1)"></Button>
                            <Button  text="C) {{item.answer3}}" [ngClass]="{'button-clicked': item.openC, 'button-no-clicked': !item.openC}"
                            color="whitesmoke" (tap)="switchColor3(i,2)"></Button>
                            <Button  text="Enviar" backgroundColor="green" (tap)="sendResponse2(i)"
                            color="whitesmoke"></Button>
                        </StackLayout> 

                        <Label text="" class="h3 text-center"></Label>


                    </StackLayout>
                        <StackLayout *ngFor="let item of information; let i = index">

                            <Button row="0" col="0" text="{{item.question}}"
                            backgroundColor="#35A6E8"
                            color="whitesmoke" (tap)="toogleSelection(i)" width= "80%"></Button>

                        
                            <StackLayout *ngIf="item.open" width="60%">
                                <Button  text="a) {{item.answers.a}}" [ngClass]="{'button-clicked': item.answers.openA, 'button-no-clicked': !item.answers.openA}"
                                color="whitesmoke" (tap)="switchColor(i,0)"></Button>
                                <Button  text="b) {{item.answers.b}}" [ngClass]="{'button-clicked': item.answers.openB, 'button-no-clicked': !item.answers.openB}"
                                color="whitesmoke" (tap)="switchColor(i,1)"></Button>
                                <Button  text="C) {{item.answers.c}}" [ngClass]="{'button-clicked': item.answers.openC, 'button-no-clicked': !item.answers.openC}"
                                color="whitesmoke" (tap)="switchColor(i,2)"></Button>
                                <Button  text="Enviar" backgroundColor="green" (tap)="sendResponse(i)"
                                color="whitesmoke"></Button>
                            </StackLayout> 

                            <Label text="" class="h3 text-center"></Label>


                        </StackLayout>
                       

                        <Label text="" class="text-center">
                        </Label>
                        <Button text="Ver tests disponibles/Actualizar" backgroundColor="blue" width="75%"
                            color="whitesmoke" (tap)="getTest()">
                        </Button>

                    </StackLayout>
                </GridLayout>
            </TabContentItem>
            <TabContentItem>
                <GridLayout>
                    <StackLayout width="80%">
                        <Label text="" class="h2 text-center"></Label>
                        <Label text="Ajustes"  fontWeight="bold" class="h1 text-center"></Label>
                        <Label text="" class="text-center">
                        </Label>
                        <Button text="Modificar datos"
                            backgroundColor="#35A6E8" color="whitesmoke" >
                        </Button>
                        <Label text="" class="text-center">
                        </Label>
                        <Button text="Salir de la clase"
                            backgroundColor="#35A6E8" color="whitesmoke" (tap)="salirclase()">
                        </Button>
                        <Label text="" class="text-center">
                        </Label>
                        <Button text="Cerrar sesión" backgroundColor="#35A6E8"
                            color="whitesmoke" (tap)="logout()">
                        </Button>
                    </StackLayout>
                </GridLayout>
            </TabContentItem>
        </Tabs>
    </StackLayout>
    <Button text="Cerrar Sesión" (tap)="logout()"></Button>
</StackLayout>