<ActionBar title="Teacher" class="action-bar">
    </ActionBar>
    
    <ScrollView class="page">
        <StackLayout class="home-panel">
            <Button text="Identificar clase"  background-color:rgb(76, 91, 213)></Button>
            <Button text="Crear test" class="btn btn-primary m-t-20"></Button>
            <Button text="CrearPrueba" class="btn btn-primary m-t-20"></Button>
            <Button text="Cerrar Sesión" (tap)="logout()"></Button>
        </StackLayout>
    </ScrollView>