@import "nativescript-theme-core/css/core.light.css";

.btn-primary {
  height: 50;
  background-color: rgb(26, 91, 213);
  border-radius: 5;
  font-size: 20;
  font-weight: 600;
}

.btn-second {
  height: 35;
  background-color: rgb(13, 100, 172);
  color: whitesmoke;
  border-radius: 5;
  font-size: 12;
  font-weight: 600;
  width:105;
}
.btn-primary:disabled {
  opacity: 0.5;
}
.btn-second:disabled {
  opacity: 0.5;
}
.card {
	border-radius: 20;
	margin: 12;
    padding: 10;
	background-color: #E3E9F8;
    color: #131636;
    height: 86%;
}