<FlexboxLayout>
    <ScrollView>
        <StackLayout>
                <Image class="logo" src="~/images/Logo_politecnica.png"></Image>
                <Label text="Formulario de Registro"
                horizontalAlignment="center" class="header"></Label>
            <GridLayout rows="*, *, *, *, *" columns="83, *" class="form">

                <Label row="0" col="0" text="Nombre:"
                    horizontalAlignment="right" class="label"></Label>
                <TextField row="0" col="1" [(ngModel)]="model.firstName"
                    hint="Escriba su nombre" class="input input-border" name="lastName" required>
                </TextField>

                <Label row="1" col="0" text="Apellidos"
                    horizontalAlignment="right" class="label"></Label>
                <TextField row="1" col="1" [(ngModel)]="model.lastName"
                    hint="Escriba sus apellidos" class="input input-border"
                    keyboardType="email"></TextField>

                <Label row="2" col="0" text="Email:"
                    horizontalAlignment="right" class="label"></Label>
                <TextField row="2" col="1" [(ngModel)]="model.username"
                    hint="Escriba su email" class="input input-border" 
                    keyboardType="email" name="username" required *ngIf="email.invalid"></TextField>

                <Label row="3" col="0" text="Matrícula:"
                    horizontalAlignment="right" class="label"></Label>
                <TextField row="3" col="1" [(ngModel)]="model.numat"
                    hint="Escriba su número de matrícula"
                    maxLength="5"
                    class="input input-border" name="numat" required>
                </TextField>
                <Label row="4" col="0" text="Contraseña:"
                    horizontalAlignment="right" class="label"></Label>
                <TextField row="4" col="1" [type]="hide ? 'password' : 'text'" [(ngModel)]="model.password"
                    hint="Escriba su contraseña" class="input input-border" name="password" required secure="true">
                </TextField>
            </GridLayout>

            <Button text="Seleccionar Imagen"  backgroundcolor="green" row="0" col="1" class="btn btn-primary"
            (tap)="image_picker()"></Button>

            <GridLayout rows="*" columns="*,*" width="310" height="80">
                <Button text="Registro" row="0" col="0"
                    class="btn btn-primary" (tap)="register2()">
                </Button>

                <Button text="Volver" row="0" col="1" class="btn btn-primary"
                    (tap)="back()">
                </Button>
            </GridLayout>

        </StackLayout>
    </ScrollView>
</FlexboxLayout>