.home-panel{
    vertical-align: center; 
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}

.prueba {
  font-size: 25;
  font-weight: 600;
  margin-bottom: 20;
  text-align: center;
  color:white;
}

.recuadro {
  font-size: 35;
  font-weight: 800;
  margin-bottom: 20;
  text-align: center;
}