<ActionBar title="Home">
</ActionBar>

<GridLayout backgroundColor="#0374dd">
    <ScrollView>
        <StackLayout class="home-panel">
            <!--Add your page content here-->
            <Label textWrap="true" text="Escriba su código de sesión"
                textAlignment="center" class="prueba"
                textFieldBackgroundColor="white"></Label>
            <TextField height="30" maxLength="4" row="3" col="1"
                [(ngModel)]="model.code_session" class="recuadro"
                backgroundColor="white" height="80" width="200">
            </TextField>
            <Button width="90%" text="Continuar" (tap)="insert_code_session()"></Button>
        </StackLayout>
    </ScrollView>
</GridLayout>