.page {
  align-items: center;
  flex-direction: column;
}
.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 32;
  font-weight: bold;
}

.boton{
  width: 200;
  height: 50;
  background-color: rgb(26, 91, 213);
  color: whitesmoke;
  border-radius: 5;
  font-size: 20;
  font-weight: 600;
}
.logo2{
  margin-bottom: 12;
  height: 100;
  horizontal-align: center;
  font-weight: bold;
}
.header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 20;
  text-align: center;
  color: rgb(38, 8, 99);
}

.input-field {
  margin-bottom: 25;
}
.input {
  font-size: 18;
  placeholder-color: #A8A8A8;
}
.input:disabled {
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
}

.btn-primary {
  margin: 15 5 15 5;
}

.btn-second {
  margin: 15 5 15 5;
}

.login-label {
  horizontal-align: center;
  color: #A8A8A8;
  font-size: 16;
}
.sign-up-label {
  margin-bottom: 20;
}
.bold {
  color: #000000; 
}

