<ActionBar title="Login Page"></ActionBar>

<FlexboxLayout class="page">
    <StackLayout>
            <Image class="logo" src="~/images/Logo_politecnica.png"></Image>
            <Image class="logo2" src="~/images/erisid2.png"></Image>

    </StackLayout>

    <StackLayout class="form">
        <Label class="header" text="PROYECTO SIDISEC"></Label>
        <GridLayout columns="*,*" rows="60,*,*,*" width="280" height="300"
            backgroundColor="lightgray" borderColor="rgb(15, 5, 59)" borderwidth="3">
            <Button text="Alumnos" row="0" col="0" class="btn btn-second" 
            (tap)="select()"
          ></Button>

            <Label row="0" col="0" *ngIf="!selection" backgroundColor="white">
            </Label>

            <Button text="Profesores" row="0" col="1" class="btn btn-second" (tap)="select2()"></Button>
            <Label row="0" col="1" *ngIf="selection" backgroundColor="white">
            </Label>

            <TextField row=" 1" col="0" colSpan="2"  backgroundColor="white"
                width="260" height="50" class="input" hint="Email" 
                [isEnabled]="!processing" keyboardType="email"
                autocorrect="false" autocapitalizationType="none"
                [(ngModel)]="user.username">
            </TextField>

                <TextField #password class="input" row="2" col="0" colSpan="2"
                    backgroundColor="white" width="260" height="50"
                    [isEnabled]="!processing" hint="Password" secure="true"
                    [(ngModel)]="user.password"
                    [returnKeyType]="isLoggingIn ? 'done' : 'next'"
                    (returnPress)="focusConfirmPassword()"></TextField>
            
                 <Button [text]="isLoggingIn ? 'Login' : 'Sign Up'" row="3"
                    col="0" *ngIf="selection" [isEnabled]="!processing"
                    (tap)="submit()" class="btn btn-primary m-t-20"></Button>
                <Button [text]="'Login Profesorr'" row="3"
                    col="0" colSpan="2" *ngIf="!selection" [isEnabled]="!processing"
                    class="boton" (tap)="loginteacher()"></Button>

                <Button [text]="'Registro'" row="3" col="1"
                    class="btn btn-primary m-t-20" *ngIf="selection" (tap)="register2()"></Button>


        </GridLayout>
        <Label *ngIf="isLoggingIn" text="¿Olvidaste la contraseña?"
            class="login-label" (tap)="forgotPassword()"></Label>
    </StackLayout>
</FlexboxLayout>