<ActionBar title="Student Identification" class="action-bar">
</ActionBar>

<StackLayout>
    <Image class="logo" src="~/images/Logo_politecnica.png"></Image>
    <Label text="" class="h3 text-center"></Label>
    <Label  class="header" text="Registro de asistencia en clase"
    horizontalAlignment="center" class="header"></Label>

    <StackLayout class="btn-img"  orientation="horizontal" padding="5" (tap)="scanBarcode()">
        <Image src="~/images/qr-code.png"  width="40%" height="22%"  marginRight="10"></Image>
        <Label text="Lector QR" verticalAlignment="center"></Label>
     </StackLayout>
     <StackLayout class="btn-img"  orientation="horizontal" padding="5" (tap)="mensajeReadNFC()" (tap)="ReadNFC()" >
        <Image src="~/images/nfc-round-tag.png"  width="40%" height="31%"  marginRight="10"></Image>
        <Label text="Lector NFC" verticalAlignment="center"></Label>
     </StackLayout>
     <!-- 
        <StackLayout class="home-panel" width="80%">
                <Button   text="Lector QR" class="h1 text-center" background-color:rgb(76, 91, 213) (tap)="scanBarcode()"></Button>
                <Label text="" class="h3 text-center"></Label>
                <Button  class="h1 text-center" background-color:rgb(76, 91, 213) (tap)="mensajeReadNFC()" (tap)="ReadNFC()">
                    <FormattedString>
                        <Span text="Lector NFC"  fontWeight="bold"></Span>
                    </FormattedString>
                </Button>
                <Label text="" class="h3 text-center"></Label>
                <Button   text="Manual" background-color:rgb(76, 91, 213) (tap)="mostrarmensaje()"></Button>
                <Label text="" class="h3 text-center"></Label>
               
                <Button   text="Elegir Clase" background-color:rgb(76, 91, 213) (tap)="onItemTapClasses($event)"></Button>
                <ListView [items]="classes" (itemTap)="onItemTapClasses($event)"
                *ngIf="enableAulas" style="height:550px">
                <ng-template let-classroom="item">
                    <FlexboxLayout flexDirection="row">
                        <Label [text]="classroom.aula" class="t-12"
                            verticalAlignment="center" style="width: 90%" style="height: 30%">
                        </Label>
                    </FlexboxLayout>
                </ng-template>
                </ListView>
                <Button  text="Elegir Asiento" background-color:rgb(76, 91, 213) (tap)="onItemTapSeats($event)"></Button>
                <ListView [items]="seats" (itemTap)="onItemTapSeats($event)"
                *ngIf="enableSeats" style="height:550px">
                <ng-template let-classroom="seat">
                    <FlexboxLayout flexDirection="row">
                        <Label [text]="seat.value" class="t-12"
                            verticalAlignment="center" style="width: 60%">
                        </Label>
                    </FlexboxLayout>
                </ng-template>
                </ListView>
            -->

            <StackLayout class="home-panel" width="70%" >
                <Button  text="Directo 'A-10 Asiento:4' "  class="bt2" (tap)="update2()"></Button>
                <Label text="" class="h3 text-center"></Label>
                <Button width="60%" text="Volver"  (tap)="back()" backgroundcolor="rgb(79, 152, 235)" color="white"></Button>
                <Button  width="70%" text="Cerrar Sesión" (tap)="logout()" backgroundcolor="rgb(26, 91, 213)" color="white"></Button>
            </StackLayout>

</StackLayout>