.home-panel{
	vertical-align: center;
	font-size: 20;
	margin: 15;
}

.header {
	horizontal-align: center;
	font-size: 25;
	font-weight: 600;
	margin-bottom: 20;
	text-align: center;
	color: rgb(38, 8, 99);
  }

  .btn-img{
    border-radius: 5;
    border-width: 1;
    color: black;
	margin: 25;
	margin-top: 15;
    font-size: 35;
    border-color: #2b3c6a;
	background-color: rgb(226, 227, 236);
}

.bt2{
	border-radius: 5;
	border-width: 1;
	border-color: #2b3c6a;
	background-color:rgb(250, 227, 227)
}