<FlexboxLayout>
    <ScrollView>
        <StackLayout>
                <Image class="logo" src="~/images/Logo_politecnica.png"></Image>
                <Label text="Reseteo de contraseña"
                horizontalAlignment="center" class="header"></Label>
            <GridLayout rows="*, *, *, * " columns="90, *" class="form">

                <Label row="0" col="0" text="Email:"
                    horizontalAlignment="right" class="label"></Label>
                <TextField row="0" col="1" [(ngModel)]="model.username"
                    hint="Escriba su nombre" class="input input-border" name="lastName" required>
                </TextField>

                <Label row="1" col="0" text="Contraseña:"
                    horizontalAlignment="right" class="label"></Label>
                <TextField row="1" col="1" [type]="hide ? 'password' : 'text'" [(ngModel)]="model2.password"
                    hint="Escriba su contraseña" class="input input-border" name="password" required secure="true">
                </TextField>

                <Label row="2" col="0" text="Contraseña:"
                    horizontalAlignment="right" class="label"></Label>
                <TextField row="2" col="1" [type]="hide ? 'password' : 'text'" [(ngModel)]="model2.password1"
                    hint="Reescriba su contraseña" class="input input-border" name="password" required secure="true">
                </TextField>

                <Label row="3" col="0" text="Código:"
                    horizontalAlignment="right" class="label"></Label>
                <TextField row="3" col="1" [(ngModel)]="model.token"
                    hint="Escriba su código de reseteo"
                    class="input input-border" name="numat" required>
                </TextField>

            </GridLayout>


            <GridLayout rows="*" columns="*,*" width="310" height="80">
                <Button text="Resetear" row="0" col="0"
                    class="btn btn-primary" (tap)="resetear()">
                </Button>

                <Button text="Volver" row="0" col="1" class="btn btn-primary"
                    (tap)="back()">
                </Button>
            </GridLayout>

        </StackLayout>
    </ScrollView>
</FlexboxLayout>