
.header {

    font-size: 25;
    font-weight: 600;
    margin-bottom: 20;
    text-align: center;
    color: rgb(38, 8, 99);
  }
  
  .home-panel{
      vertical-align: center; 
      font-size: 20;
      margin: 15;
  }
  
  .logo {
      margin-bottom: 32;
      font-weight: bold;
    }
    
  .description-label{
      margin-bottom: 15;
  }
  
  .form {
      margin: 20;
  }
  
  .label {
      margin-right: 5;
      vertical-align: center;
  }
  
  .input {
      margin-bottom: 10;
  }
  